*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: purple;
    padding: 40px 60px;
}

h2 {
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}